¿Es seguro utilizar esta plataforma? Esta plataforma, te ayuda a ponerte en contacto con los sitios a los que quieres ayudar. El pago se realiza por tranferencia o Paypal.
¿Comó realizo mi aportacion? Busca el comercio o servicio al que quieres ayudar y encontraras toda la información relativa al pago.
¿Todo mi dinero llega al comercio? Si, esta plataforma solo lista los comercios, pero el pago se realiza en las plataformas externas, transferencia o Paypal.
¿Que pasa si no encuentro mi comercio favorito? ¡Muy fácil! Hazle llegar nuestro enlace, solo tendra que seguir unos sencillos pasos y formará parte de nuestro listado.
¿Para que tipo de comercio va dirigido? Todo tipo de comercios y o servicios.
Quiero donar pero no tengo ningun comercio de preferecia. Nosotros recomendamos la asociación almeriense A TODA VELA, siendo igualmente útil cualquier asosiación que ayude a generar empleo en tu localidad. 
