{% extends 'base.html' %}
<!DOCTYPE html>

{% block content %}
<div class="row">
    <div class="col">
        <h2>¿En qué consiste #yoSigoPagando?</h2>
        <p>
            #yoSigoPagando es una iniciativa sin ánimo de lucro creada para poner en contacto a personas que quieran
            ayudar a los comercios y servicios que suelen usar y que no reciben dinero por causa del estado de alarma
            actual.
        </p>
        <hr />
        <h2>¿Cómo puedo ayudar?</h2>
        <div class="row">
            <div class="col-md-6">
                <h5>Soy un comercio</h5>
                <p>
                    Regístrate rellenando nuestro formulario y tu comercio o servicio será añadido a nuestro listado.
                    Puedes ayudarnos difundiendo tu perfil entre tus clientes conocidos y otros comercios que conozcas.
                </p>
                <button class="btn btn-primary">Registrarme</button>
            </div>
            <div class="col-md-6">
                <h5>Soy un cliente</h5>
                <p>
                    Busca los comercios o servicios que sueles usar y encontrarás toda la información en su perfil.
                    También nos ayudará mucho que compartas nuestra plataforma con tus conocidos, sean clientes o comercios.
                </p>
                <button class="btn btn-primary">Buscar comercios</button>
            </div>
            <div class="col-sm-12 text-center" style="margin-top: 15px;">
                <h3>Comparte la iniciativa</h3>
                <p>#yoSigoPagando</p>
                <div class="sharethis-inline-share-buttons"></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}